meta(charset='utf8')
title= name
link(rel='stylesheet', href='#{baseUrl}/css/global.css')
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Source+Code+Pro|Merriweather:400,300,700,900,300italic,400italic,700italic,900italic|Raleway:400,900,800,700,600,500,300,200,100')
script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.2.1/lodash.min.js')
script(src='#{baseUrl}/js/main.js')