article.article-docs.container-fluid
  .row
    h1 Intro to Knitr &amp; Literate Programming
    .embed-responsive.embed-responsive-4by3
      iframe#slides-viewer.embed-responsive-item(src="#{baseUrl}/slides/intro")
  .row
    h1 Knitr for Reports
    p Coming Soon